<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Chreol Empire</title>
    <link rel="stylesheet" href="page1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="page1.js"></script>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div><a class="brand" href="page1.html">Chreol Empire</a></div>
            <div>
                <a href="cart.html">cart</a>
                <a href="signin.html">sign In</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/bitcoin.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Bitcoin(BTC)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            1BTC = 44578,30 USD
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/ethereum.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Ethereum(ETH)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            1ETH = 3050,70 USD
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/binance.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Binance coin(BNB)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            1BNB = 419,85 USD
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/ripple.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Ripple(XRP)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            1XRP = 1,5 USD 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/dash.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Dash(DASH)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            1DASH = 208,15 USD 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/litecoin.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Litecoin(LTC)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            1LTC = 170,09 USD
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/cardano.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Cardano(ADA)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            1ADA = 2,4 USD 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/uniswap.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Uniswap(UNI)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            1UNI = 27,03 USD
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/paxgold.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Pax Gold(PAXG)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            1PAXG = 1788,37 USD 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/terra.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Terra(LUNA)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            1LUNA = 30,19 USD 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/polkadot.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Polkadot(DOT)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            1DOT = 25,23 USD 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/tron.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Tron(TRX)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            1TRX = 0.085 USD 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/dogecoin.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Dogecoin(DOGE)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            1DOGE = 0,3012 USD 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/monero.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Monero(XMR)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            1XMR = 256,61 USD
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/neo.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Neo(NEO)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                        </div>
                        <div class="price">
                            1NEO = 50,97 USD 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/zcash.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Zcash(ZEC)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-half-o"></i></span>
                        </div>
                        <div class="price">
                            1ZEC = 143,44 USD
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/perfectmoney.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>PerfectMoney(PM)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <div class="price">
                            1PM = USD 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/elrond.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Elrond(EGLD)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <div class="price">
                            1EGLD = 141.73 USD 
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/bittorrent.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>BitTorrent(BTT)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <div class="price">
                            1BTT = 0.00417USD 
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/solana.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Solana(SOL)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <div class="price">
                            1SOL = 71.66 USD 
                        </div>

                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/stellar.jpg" alt="product"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Stellar(XLM)</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-o"></i></span>
                        </div>
                        <div class="price">
                            1XLM = 0.359962 USD 
                        </div>
                        
                    </div>
                </div>
            </div> 
            
        </main>
        <footer class="row center">All right reserved</footer>
    </div>
</body>  

</html>